body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
  
}


h1{
    margin-bottom: 50px;
    color:black;
    font-size: 50px;
    font-family: Arial, sans-serif;
}


.calculator{
    
    width: 480px;
    height: 683px;
    background-color: black;
    border-radius: 20px;
    border: 2px solid grey;
    
}

.resultScreen{
    width: 478px;
    height: 175px;
    border-bottom: 2px solid black;

}

.buttonsContainer{
    display: flex;
    height: 500px;
    width: 478px;
    
    border-radius: 20px;
    
   
    
}

.numbersContainer{
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 350px;
    justify-content: center;
    gap: 19px;
    
    
}

.operatorsContainer{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}

.numbersContainer button{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border:none;
    font-size: 35px;
    color: white;
    background-color: #3c3c3c;
    cursor: pointer;
    

}

.operatorsContainer button{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border:none;
    font-size: 35px;
    color: white;
    background-color: #ffba47;
    cursor: pointer;
    
}




.operator{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border:none;
    font-size: 35px;
    color: white;
    background-color: #ffad47;
    cursor: pointer;
}